<!DOCTYPE html>
<html>
  <head>
    <title>Traveller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'traveller/index' %>
    <%= stylesheet_pack_tag 'traveller/assets/stylesheets/app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
